*{ margin: 0; padding: 0; }



.Menustyle{
    width: 100%;
    height: 100px;
    background: black;
    font-family: 'flamenco', cursive;

}

.Menustyle ul {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Menustyle li{
    list-style: none;
    text-transform: uppercase;
    color: white;
}

.Menustyle ul li a{
    color: white;
}